<?xml version="1.0" encoding="UTF-8"?>
<!-- Лаунчер предназначен для записи набора данных IMU, для калибровки-->
<launch>

  <arg name="cfg_kit" default="gscam_bno055_rp2040" />
  <arg name="kit_dir" default="$(find rovio)/cfg/$(arg cfg_kit)" />
  <arg name="bag_name" default="imu_out" />

  <!-- src https://github.com/katafoxi/bno055_serial_to_ros/blob/master/launch/demo.launch-->
  <node pkg="bno055_serial_to_imu" 
  type="bno055_serial_to_imu_node" 
  name="bno055_serial_to_imu_node" 
  required="true">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <!--  min для калибровки 3 часа, после нода выключается -->
  <node pkg="rosbag"
    type="record" name="$(arg bag_name)_recorder"
    required="true"
    args="record -O $(arg kit_dir)/bags/$(arg bag_name) --duration=3h  --all ">
  </node>

</launch>