<?xml version="1.0" encoding="UTF-8"?>

<!-- Лаунчер запускает работу алгоритма ROVIO.
На вход алгоритма подаются данные, полученные от проигрывание rosbag-файла,
полученного после конвертации из формата MP4 в формат rosbag.-->
<launch>

  <arg name="rviz" default="false"/> <!-- Включать ли визуализацию rviz-->
  <arg name="conf_prefix" default="16_16"/> 
  <arg name="bag" default="way.bag"/>
  <arg name="cam_name" default="gopro10"/>

  <!--######################################################################-->

  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
    <param name="filter_config" 
    value="$(find rovio)/cfg/$(arg cam_name)/$(arg conf_prefix)_rovio.info"/>

    <param name="camera0_config" 
    value="$(find rovio)/cfg/$(arg cam_name)/$(arg conf_prefix)_cam0.yaml"/>

    <param name="imu_topic_name" value="/imu"/>
    <param name="cam0_topic_name" value="/cam0/image_raw"/>
  </node>

  <!--######################################################################-->

  <arg name="base_camera_image" default="gopro/image_raw"/>
  <arg name="image" default="/cam0/image_raw" />

  <node name="image_republish" pkg="image_transport" 
  type="republish" args="compressed raw">
      <remap from="in" to="$(arg base_camera_image)" />
      <remap from="out" to="$(arg image)" />
  </node>

  <!--######################################################################-->

  <!--rosbag_play node-->
  <node pkg="rosbag" type="play" name="rosbag_player" 
    args="--delay 1 $(find rovio)/rosbags/$(arg cam_name)/way.bag">
    
    <!-- <param name="_image_transport" value="compressed"/> -->
    <!-- <remap from="/gopro/image_raw/compressed" to="/cam0/image_raw/compressed"/> -->
    <remap from="/gopro/imu" to="/imu" />
  </node>

  <!--######################################################################-->

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" 
    args="-d $(find rovio)/cfg/rovio.rviz" />
  </group>

</launch>

